<div class="col-sm-2"></div>
<div class="col-lg-6">
    <h1>About MirrorDraw</h1>
    <p>
      This is a small app I made just because I needed something to keep learning javascript and canvas. Since I am trying to learn Ruby on Rails I decided to mix the two. Slowly I am squashing the bugs and adding new <span style="text-decoration:line-through;">bugs</span> features.
	  </p><p>
	  The idea is a drawing one half of an image and mirroring it on another canvas. Also combining the two into one image.
    </p>
    
    <hr>
    
    <h4>Q & A</h4>
    
    <p><ol>
    
    <%= render partial: 'layouts/qa', locals: {question: "How do I use this?", answer: "Left click to start drawing and move the mouse to make lines. Simples."} %>
    
    <%= render partial: 'layouts/qa', locals: {question: "Can I use this on my phone or tablet?", answer: "You could try. I am going to attempt to get the touch controls functional but I can't promise they will be good. Aside from that the layout will likely be bad on mobile but there shouldn't be anything that prevents it from working (poorly)."} %>
    
    <%= render partial: 'layouts/qa', locals: {question: "What are some things that are not quite there but you'd like to add?", answer: "Touch support, line width, line color, and the ability to save an image."} %>
    
    </ol></p>
    

	
	</div>
	<div class="col-sm-4 col-sm-2"></div>
