<div class="col-sm-2"></div>
<div class="col-lg-6">
    <h1>About MirrorDraw</h1>
    <p>
      This is a small app I made just because I needed something to keep learning javascript and canvas. Since I am trying to learn Ruby on Rails I decided to mix the two. Slowly I am squashing the bugs and adding new <span style="text-decoration:line-through;">bugs</span> features.
	  </p><p>
	  The idea is a drawing one half of an image and mirroring it on another canvas. Also combining the two into one image.
    </p>

	
	</div>
	<div class="col-sm-4 col-sm-2"></div>