<div class="col-sm-2"></div>
<div class="col-lg-6">
    <h1>About MirrorDraw</h1>
    <p>
      This is a small app I made just because I needed something to keep learning javascript and canvas. Since I am trying to learn Ruby on Rails I decided to mix the two. Slowly I am squashing the bugs and adding new <span style="text-decoration:line-through;">bugs</span> features.
	  </p><p>
	  The idea is a drawing one half of an image and mirroring it on another canvas. Also combining the two into one image.
    </p>
    
    <hr>
    
    <h4>Q & A</h4>
    
    <p><ol>
    
    <%= render partial: 'layouts/qa', locals: {question: "How do I use this?", answer: "Left/right click (or equivalent in mobile) to start drawing and move the mouse to make lines. Simples."} %>
    
    <%= render partial: 'layouts/qa', locals: {question: "Can I use this on my phone or tablet?", answer: "Yes, as far as I can tell. The basics are there but there are still some things that I've probably missed. "} %>
    
    <%= render partial: 'layouts/qa', locals: {question: "What are some things that are not quite there but you'd like to add?", answer: "<span style='text-decoration:line-through;'>Touch support, line width, line color, and the ability to save an image.</span>"} %>
    
    </ol></p>
    

	
	</div>
	<div class="col-sm-4 col-sm-2"></div>
