<body onload="setup();">


<div class="row">

<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="text-align:center">
<canvas id="can" width="200px;" height="350px;" ></canvas>
<canvas id="mir" width="200px;" height="350px;" ></canvas>
</div>

<div class="clearfix visible-xs visible-sm visible-md"></div>
<div id="right_sidebar" class="col-sm-2">
	
	<%= render 'shared/options_on_right' %>
	</div>
<br/><br/>


<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="text-align:center">
<canvas id="hid" width="400px;" height="350px;" ></canvas>
</div>
</div>



</body>