<div class='option_sidebar well'>

<p> Line Width: <br/>
<%= select_tag "LineWidth", options_for_select([ "1", "2", "3", "4", "5", "21" ], "1") %>
</p>

<p> Line Color: <br/>
<%= select_tag "LineColor", options_for_select([ "red", "green", "yellow", "blue", "purple", "black", "white" ], "black") %>
</p>

</div>

