@import "bootstrap";

canvas {
	border: 1px solid black;
}

body {
	padding-top: 80px;
	
	/* disable selecting */
	-webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        outline: none;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
		
	font-size: 2em; /* increase font size. some looks ok some looks crap but more ok than crap */
}

#logo { 
	padding-left:40px;
	padding-top: 10px;
	font-size: 20px;
	display: inline-block;
}

#mir {
	border: 1px solid red; 
	margin-left:-4px; 
	
}

.option_sidebar {
	min-height: 20px;
	max-height: 50%;
	height: 40%;
}

.well {
	background-color: #BBB !important;
}

select{
	width: auto !important;
}

#left_sidebar {
	float: left;
	margin-left: 20px;
}

#left_sidebar, #canvas_container {
	position:static;
}

#canvas_container {
	margin-right: 30px;
}
