<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <%= link_to "MirrorDraw", root_path, id: "logo" %>
	<div class="container">
      
      <nav>
        <ul class="nav pull-left">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "About", about_path %></li>
          
        </ul>
      </nav>
    </div>
  </div>
</header>